*{
    margin: 0%;
    padding: 0%;
}

html, body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    overflow: hidden;
    gap: 20px;
}

canvas{
    border: 2px solid white;
    background-color: black;
}